@media (prefers-color-scheme: light) {
  :root {
    /* Light Theme */
    --bg0: #ffffff;
    --bg1: #fdfdfd;
    --bg2: #f0f0f0;
    --fg0: #000000;
    --fg1: #272727;

    --grey: #5c5c5c;
    --hr: #453c4b;
    --link: #5b81bf;
    --link2: #2b41bf;
    --dim: #a8a8a8;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Theme */
    --bg0: #000000;
    --bg1: #3c3836;
    --bg2: #515151;
    --fg0: #ffffff;
    --fg1: #fdfdfd;

    --grey: #cacaca;
    --hr: #ebebeb;
    --link: #abd1ff;
    --link2: #7bb1ff;
    --dim: #484848;
  }
}
