nav {
  text-align: left;
  margin-top: calc(var(--vertical-0) * 0.5);
  font-size: calc(var(--base-font-size) * 1.2);
}

nav li {
  list-style-type: none;
  display: inline-block;
  padding: 0 0.5em;
}

.logo {
  color: var(--fg-0);

  & div {
    display: inline;
  }

  & .logo__text {
    font-weight: 700;
  }

  & .logo__cursor,
  & .logo__prompt {
    font-family: var(--font-family-mono);
  }

  &:hover .logo__cursor {
    animation: 1s blink infinite;
    opacity: 1;
  }
  & .logo__cursor {
    margin-right: var(--space-0);
    font-weight: 700;
  }
}

#top nav a {
  text-decoration: none !important;
  color: var(--fg-0);
  &:visited {
    color: var(--fg-0);
  }

  &:focus,
  &:hover {
    background-color: var(--bg-0);
    color: var(--yellow-1);
  }

  &:visibled:focus,
  &:visibled:hover {
    background-color: var(--bg-0);
    color: var(--yellow-1);
  }
}

#top #heading {
  text-align: center;
}

#top hr,
#bot hr {
  background: var(--fg-1);
  height: 2px;
  margin: var(--vertical-0) auto;
}

/* Mobile and small screens */
@media only screen and (max-width: 1048px) {
  nav li {
    display: block;
    text-align: left;
  }
  nav {
    margin-top: calc(var(--vertical-0) * 0.25);
  }
}
