{{ define "main" }}
    <article>
        {{ .Content }}
    </article>

    {{ if not .Params.onlycontent }}
        <hr />
        <div id=links>
            {{ if .PrevInSection }}
                <a href="{{.PrevInSection.RelPermalink}}"><i class="fa-solid fa-arrow-left"></i>{{.PrevInSection.Title}}</a>
            {{ end }}
            {{ if .NextInSection }}
                <a href="{{.NextInSection.RelPermalink}}">{{.NextInSection.Title}}&nbsp;<i class="fa-solid fa-arrow-right"></i></a>
            {{ end }}
        </div>

        <hr />
        <div class="comments">
            <script src="https://giscus.app/client.js"
                    data-repo="aorith/aorith.github.io"
                    data-repo-id="MDEwOlJlcG9zaXRvcnkyMzYxNTI2NzA="
                    data-category="Announcements"
                    data-category-id="DIC_kwDODhNnXs4CarqS"
                    data-mapping="pathname"
                    data-strict="0"
                    data-reactions-enabled="1"
                    data-emit-metadata="0"
                    data-input-position="bottom"
                    data-theme="preferred_color_scheme"
                    data-lang="en"
                    crossorigin="anonymous"
                    async>
            </script>
        </div>
        <p>&nbsp;</p>
    {{ end }}
{{ end }}
