{{ define "main" }}
    {{ .Content }}

    {{ if not .Params.onlycontent }}
        <hr />
        <div id=links>
            {{ if .PrevInSection }}
                <a href="{{.PrevInSection.RelPermalink}}"><i class="fa-solid fa-arrow-left"></i>{{.PrevInSection.Title}}</a>
            {{ end }}
            {{ if .NextInSection }}
                <a href="{{.NextInSection.RelPermalink}}">{{.NextInSection.Title}}&nbsp;<i class="fa-solid fa-arrow-right"></i></a>
            {{ end }}
        </div>

        <hr />
        <div class="for-disqus">
            {{ template "_internal/disqus.html" . }}
        </div>
        <p>&nbsp;</p>
    {{ end }}
{{ end }}
