{{ define "main" }}
    <div class="entry-content">
        {{ .Content }}
    </div>

    {{ if not .Params.onlycontent }}
        <hr />
        <div id=links>
            {{ if .PrevInSection }}
                <a href="{{.PrevInSection.Permalink}}">&laquo;&nbsp;{{.PrevInSection.Title}}</a>
            {{ end }}
            {{ if .NextInSection }}
                <a href="{{.NextInSection.Permalink}}">{{.NextInSection.Title}}&nbsp;&raquo;</a>
            {{ end }}
        </div>
    {{ end }}
{{ end }}
