<footer id="bot">
  <div id="contact">
    <abbr title="Copyright">&copy;</abbr> 2023
    <a rel="nofollow noopener" href="mailto:aomanu@gmail.com"
      >Manuel Sanchez Pinar</a
    >
    • content under
    <a
      rel="nofollow noopener"
      target="_blank"
      href="https://creativecommons.org/licenses/by/4.0/"
      >CC-BY license</a
    >
  </div>
  <div class="social">
    <a rel="nofollow noopener" target="_blank" href="https://github.com/aorith"
      ><i class="fa-brands fa-github fa-xl"></i
    ></a>
    <a
      rel="nofollow noopener"
      target="_blank"
      href="https://www.linkedin.com/in/manusp/"
      ><i class="fa-brands fa-linkedin fa-xl"></i
    ></a>
    <a rel="nofollow noopener" target="_blank" href="/posts/index.xml"
      ><i class="fa-solid fa-rss fa-xl"></i
    ></a>
  </div>
</footer>
