{{- /* Deprecate site.Author.email in favor of site.Params.author.email */}}
{{- $authorEmail := "" }}
{{- with site.Params.author }}
  {{- if reflect.IsMap . }}
    {{- with .email }}
      {{- $authorEmail = . }}
    {{- end }}
  {{- end }}
{{- else }}
  {{- with site.Author.email }}
    {{- $authorEmail = . }}
    {{- warnf "The author key in site configuration is deprecated. Use params.author.email instead." }}
  {{- end }}
{{- end }}

<footer id="bot">
  <div id="contact">
    <abbr title="Copyright">&copy;</abbr> 2024
    <a rel="nofollow noopener" href="mailto:{{ $authorEmail }}"
      >Manuel Sanchez Pinar</a
    >
    • articles under
    <a
      rel="nofollow noopener"
      target="_blank"
      href="https://creativecommons.org/licenses/by/4.0/"
      >CC-BY license</a
    >
  </div>
  <div class="social">
    <a rel="nofollow noopener" target="_blank" href="https://github.com/aorith"
      ><i class="fa-brands fa-github fa-xl"></i
    ></a>
    <a
      rel="nofollow noopener"
      target="_blank"
      href="https://www.linkedin.com/in/manusp/"
      ><i class="fa-brands fa-linkedin fa-xl"></i
    ></a>
    <a rel="nofollow noopener" target="_blank" href="/posts/index.xml"
      ><i class="fa-solid fa-rss fa-xl"></i
    ></a>
  </div>
</footer>
