
<div id="top">
    <nav>
        <ul>
            <li>
                <a class="logo" href="/">
                    <div class="logo__prompt">&dollar;</div>
                    <div class="logo__cursor">&#x5F;</div>
                    <div class="logo__text">{{ .Site.Params.sitename }}</div>
                </a>
            </li>
            {{ range .Site.Menus.main }}
                {{ $active := eq $.RelPermalink (.URL | relLangURL) }}
                {{ $active := or $active (eq $.Section (lower .Name)) }}
                <li><a href="{{ .URL }}"{{ if $active }} class="active"{{ end }}>{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </nav>
</div>

{{ if eq .Type . "tags" }}
    {{ if .Params.title }}
        <div class="align-center">
            <h6>#{{ .Params.title }}</h6>
        </div>
    {{ end }}
{{ else }}
    {{ if and (not .Params.onlycontent) .Params.title }}
        <div id="heading">
            <h1>{{ .Params.title }}</h1>

            {{ if .Params.date }}
                <time datetime="{{ .Date.Format "2006-01-02" }}">
                    {{ .Date.Format (.Site.Params.dateform | default "January 2006") }} · {{ .ReadingTime }} minute read
                </time>
            {{ end }}
        </div>
    {{ end }}
{{ end }}
