{{/* .Title is used to add css style */}}

{{ if .Title }}
    <figure {{ printf "style='%s'" .Title | safeHTMLAttr }}>
        <a href="{{ .Destination | safeURL }}" target="_blank">
            <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}">
        </a>
        <figcaption>{{ .Text }}</figcaption>
    </figure>
{{ else }}
    <figure>
        <a href="{{ .Destination | safeURL }}" target="_blank">
            <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}">
        </a>
        <figcaption>{{ .Text }}</figcaption>
    </figure>
{{ end }}
